<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rommateapp.development.albie.therommateapp" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/emu"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:theme="@style/Theme.AppCompat.Light"
            android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".VenmoWebViewActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:theme="@style/Theme.AppCompat.Light"
            android:name=".ChoreActivity"
            android:label="Chores" >
        </activity>
        <activity
            android:theme="@style/Theme.AppCompat.Light"
            android:name=".GroceryActivity"
            android:label="Groceries" >
        </activity>
        <activity
            android:theme="@style/Theme.AppCompat.Light"
            android:name=".MaintenanceActivity"
            android:label="Maintenance" >
        </activity>
        <activity
            android:theme="@style/Theme.AppCompat.Light"
            android:name=".BillsActivity"
            android:label="Bills" >
        </activity>
        <activity
            android:theme="@style/Theme.AppCompat.Light"
            android:name=".DbTestActivity"
            android:label="DbTest">

        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Register">
        </activity>
    </application>

</manifest>
